@{ ViewBag.Title = "Trang moi"; }

<!DOCTYPE html>
<html lang="vi">
<head>
    <style>
        h1 {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid mb-1">
        <div class="row border-top px-xl-5">

            <header>
                <h1>Chào mừng bạn đến với trang web bán linh kiện điện tử</h1>
            </header>

            <main>
                <p>Chúng tôi tự hào là địa điểm hàng đầu để bạn tìm kiếm và mua sắm các linh kiện, thiết bị, và phụ kiện điện tử mà bạn cần cho dự án sáng tạo, sửa chữa, hoặc nâng cấp thiết bị điện tử của bạn.</p>
                <p>Với một kho hàng đa dạng gồm các linh kiện điện tử hàng đầu, từ các con chip, cảm biến, màn hình, và vi mạch tích hợp đến các loại dây cáp, bộ nguồn, và nhiều sản phẩm khác, chúng tôi cam kết cung cấp cho bạn sự đa dạng và chất lượng.</p>
                <p>Bất kỳ ai đang thực hiện dự án điện tử tại nhà, trong trường học hoặc tại công ty đều có thể tìm thấy tại đây những sản phẩm cần thiết để biến ý tưởng thành hiện thực.</p>
                <p>Với dịch vụ giao hàng nhanh chóng và dịch vụ hỗ trợ khách hàng chuyên nghiệp, chúng tôi cam kết mang đến trải nghiệm mua sắm trực tuyến tốt nhất cho bạn. Đừng ngần ngại truy cập trang web của chúng tôi và khám phá sự phong phú của thế giới linh kiện điện tử, nơi bạn có thể tìm thấy mọi thứ bạn cần để thúc đẩy sự sáng tạo và đổi mới trong lĩnh vực công nghệ điện tử.</p>
            </main>
        </div>
        </div>
</body>
</html>

